<h1>New Stock</h1>

<%= form_tag({controller: "stocks", action: "come_in"}, method: "post") do %>
  <%= hidden_field(:product_uid, @product_id) %>
  <p>Locations:
    <%= select_tag(:location_id, options_from_collection_for_select(@locations, :id, :name)) %>
  </p>
  <p>Quantity
    <%= number_field_tag(:quantity, min: 0) %>
  </p>

  <%= submit_tag("Stock In", class: "btn btn-primary") %>
  <%= link_to 'Back', product_path, class: "btn btn-default" %>
<% end %>
