<h1>New Order</h1>

<%= form_tag({controller: "orders", action: "create"}, method: "post") do %>
  <p>Product:
    <%= select_tag(:product_id, options_from_collection_for_select(@products, :uid, :name)) %>
  </p>
  <p>Quantity
    <%= number_field_tag(:quantity, min: 0) %>
  </p>

  <%= submit_tag("Create Order", class: "btn btn-primary") %>
  <%= link_to 'Back', orders_path, class: "btn btn-default" %>
<% end %>
