<p id="notice"><%= notice %></p>

<h2><%= @product.name %></h2>
<span><%= @product.uid %></span>

<h3>Stocks</h3>

<p><%= link_to 'Stock in', come_in_stock_path(@product.uid) %></p>

<table>
  <thead>
  <tr>
    <th colspan="3">Location</th>
    <th colspan="3">Quantity</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @stocks.each do |stock| %>
    <tr>
      <td colspan="3"><strong><%= stock.location_name %></strong></td>
      <td colspan="3"><%= stock.quantity %></td>
      <td colspan="3">
        <%= link_to 'Stock Out', come_out_stock_path(@product.uid, location_id: stock.location_id, quantity: stock.quantity), method: :post %> |
        <%= link_to 'Adjust', adjust_stock_path(@product.uid, location_id: stock.location_id, quantity: stock.quantity) %> |
        <%= link_to 'Transfer', transfer_stock_path(@product.uid, location_id: stock.location_id, quantity: stock.quantity) %> |
      </td>
    </tr>
  <% end %>

  </tbody>
</table>

<p><%= link_to 'Stock in', come_in_stock_path(@product.uid) %></p>

<%= link_to 'Back', products_path %>
